.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  padding: 15px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
}

.hero{
  text-align: center;
  padding: 80px;
  background: lightblue;
}

.btn{
  background: rgb(152, 152, 215);
  
}

.cards{
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px;
}

.card{
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto;
}

input, textarea{
  padding: 10px;
}
.contact h2{
  text-align: center;

}

footer{
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}
